<div class="d-flex flex-column fill-dock">
    <div class="tbar bt-shadow-line d-flex v-center">
        <a class="d-flex v-center h-center btn-icon hidden-md-up" (click)="menu.showMenu()">
            <i class="material-icons">menu</i>
        </a>
        <h3 class="mb-0 pl-md-3 flex">Product</h3>
        <button type="button" class="btn btn-link mr-3" routerLink="/product/new">+ Add a New Product</button>
    </div>
    <div class="flex v-scroll">
        <div class="container mt-0 mb-sm-3 mt-sm-3 shadow-border bg-light-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="p-3">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th class="text-center">Product Name</th>
                                    <th style="width: 150px" class="text-center">Price</th>
                                    <th style="width: 150px" class="text-center">Quantity</th>
                                    <th style="width: 200px" class="text-center">Create Date</th>
                                    <th style="width: 150px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of products">
                                    <td class="align-middle">
                                        <div class="d-flex flex-row">
                                            <div class="product-pic mr-4">
                                                <img class="mh-100 mw-100" [src]="config.FileUrl + p.main_picture">
                                            </div>
                                            <a routerLink="/" class="d-block align-self-center typography-body-2 flex">{{p.name}}</a>
                                        </div>
                                    </td>
                                    <td class="text-center align-middle">{{p.price | number: '1.2-2'}} <span class="text-black-secondary">บาท</span></td>
                                    <td class="text-center align-middle">{{p.qty}}</td>
                                    <td class="text-center align-middle">{{p.create_date | date: 'dd/MM/yyyy HH:mm'}}</td>
                                    <td class="align-middle">
                                        <div class="d-flex">
                                            <a routerLink="/">Edit</a>
                                            <div class="pl-2 pr-2">|</div>
                                            <a href="javascript:void(0)">Delete</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>